
sorted_standings.csv
live_standings_overlay.html
.venv/
__pycache__/
tests/__pycache__/
SpecMaps/enkidu.mip
SpecMaps/enkidu.tga
SpecMaps/gilgamesh.mip
SpecMaps/gilgamesh.tga
SpecMaps/gilgameshbase.tga
Logos/Drivers/20250605_1958_Just Greg Logo_simple_compose_01jx1bwtfsfzgbb7022dq2hzj6.png
Logos/Drivers/20250605_1959_Enkidu's Mystical Emblem_simple_compose_01jx1byreyfkzvb62b8khm91b2.png
Logos/Sponsors/20250605_1958_Suspicious Sword Emporium Logo_simple_compose_01jx1bx228f9wtj8dn977pxd5d.png
Logos/Sponsors/20250605_1959_FeatherFuel™ Energy Chew_simple_compose_01jx1bywr5eamv3szq8mw4ennf.png
Logos/Sponsors/20250605_2001_Opera-Tech Turbo Logo_simple_compose_01jx1c20psec58e29pwx7kfxtx.png
